.app-outer {
    border: solid 3px black;
    padding: 25px;
}

.post-border {
    border: solid 1px black;
    border-radius: 6px;
    padding: 8px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    color: blue;
}